/*
 * Using functions in SASS
 */ 

@mixin border-radius($radius: 5px) {
    -mox-border-radius: $radius;
    -webkit-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

// Color functions
$color: indigo;
h1 {
    color: $color;
    background-color: grayscale(invert($color));
}
h2 { 
    color: lighten($color, 45%);
}
h3 {
    color: lighten($color, 55%);
}
h4 {
    color: lighten($color, 60%);
}

.mypara {
    @include border-radius;
    border-color: hsl(hue($color), 75%, 40%);
    border-width: 4px;
    border-style:dotted;
    padding: 20px;
}