/* ====== Base litir + padding ====== */
$myColor: #0d3472;

@mixin background-color1{
  background-color: darken($myColor, 2%);
  border: 4px solid darken($myColor, 5%);
}
@mixin background-color2{
  background-color: lighten($myColor, 10%);
  border: 4px solid darken($myColor, 5%);
}
@mixin background-color3{
  background-color: lighten($myColor, 5%);
  border: 4px solid darken($myColor, 5%);
}


body {
  line-height: 1.5em;
  background-color: #4f4f6b;
}
header {
  @include background-color3;
}
footer {
  @include background-color3;
}
.midja {
  @include background-color1;
  color: white; 
}
.vinstri, 
.haegri { 
  color: white;
}
.haegri{
  @include background-color2;
  z-index: 100;
}
.vinstri{
  @include background-color2;
  z-index: 74;
}

header,
footer,
.midja,
.vinstri, 
.haegri {
  padding: 1em; 
}

/* ====== leturstílar ====== */

header h1 {
  color: #fff;
  line-height: 1.2;
  font-weight: normal;
}
.midja h2 {
  margin: .7em 0 .8em 0;
}
.midja h4 {
  text-align: justify;
  margin: .4em 0;
}
.midja p {
  text-align: justify;
}
